:root {
    --bs-gutter-x: 0;
    /* Set gutter-x to 0 to remove the horizontal spacing between columns */
}

.row {
    --bs-gutter-x: 0 !important;
}

body {
    font-family: "Circular Spotify Text" !important;
    /* Change "Arial" to the desired font */
}

.bold {
    font-weight: 900;
}

h2 {
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: -1.44px;
    /* using for the largest text on wrapped screens */
}

h3 {
    font-size: 28px;
    font-style: normal;
    font-weight: 400 !important;
    letter-spacing: -1.12px;
}

h4 {
    font-family: "Circular Spotify Text";
    font-size: 16.2px !important;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

h5 {
    /*first used on screen-3 */
    font-size: 22.5px;
    font-style: normal;
    font-weight: 700 !important;
    line-height: normal;
}

h6 {
    /*used for numbers on screen-3 */
    font-size: 42px !important;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h7 {
    /* first used on screen 5 */
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.84px;
}

.mainBg {
    background-color: black;
    width: 100%;
    height: 100vh;
}

.phoneContainer {
    display: inline-block !important;

    width: 393px !important;
    height: 852px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#phoneContainers1 {
    background: #AFB1FF;
}

#phoneContainers2 {
    background: #FF5A49;
}

#phoneContainers3 {
    background: #DAB500;
}

#phoneContainers4 {
    background: #CDF564;
}

#phoneContainers5 {
    background: #AFB1FF;
}

.topGradient {
    display: flex;
    width: 24.5625rem;
    height: 4.625rem;
    flex-shrink: 0;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.00) 86.39%);
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.topButtons {
    width: 370px !important;
    height: 34px;
    flex-shrink: 0;
    z-index: 101;
    position: absolute;
    top: 9px;
    left: 11px;
    display: inline-flex;
    align-items: center !important;
    justify-items: center !important;
    gap: 159px;
    flex-wrap: nowrap;
}

.screen-1-text-1 {
    /* this means "screen 1 text 1" */
    padding-top: 18.3125rem;
    text-align: center !important;
    display: inline-block !important;
    position: absolute;
    left: 0;
    right: 0;
    flex-wrap: nowrap !important;
    padding-left: 0 !important;
}

.screen-2-text-1 {
    /* this means "screen 2 text 1" */
    padding-top: 18.3125rem;
    text-align: center !important;
    display: inline-block !important;
    position: absolute;
    padding-top: 246px;
    left: 0;
    right: 0;
    flex-wrap: nowrap !important;
    padding-left: 0 !important;
}

.screen-5-text-1 {
    /* this means "screen 2 text 1" */
    padding-top: 18.3125rem;
    text-align: center !important;
    display: inline-block !important;
    position: absolute;
    padding-top: 26px;
    left: 0;
    right: 0;
    flex-wrap: nowrap !important;
    padding-left: 0 !important;
}

.screen-4-text-1 {
    /* this means "screen 2 text 1" */

    text-align: center !important;
    display: inline-block !important;
    position: absolute;
    padding-top: 316px;
    left: 0;
    right: 0;
    flex-wrap: nowrap !important;
    padding-left: 0 !important;
}

.s1textContainer {
    margin-left: 0;
    margin-right: 0;
}

.s2textContainer1 {
    margin-left: 0;
    margin-right: 0;
}

.s2textContainer2 {
    margin-left: 0;
    margin-right: 0;
}

.s2imgGroup1 {
    width: auto;
    position: absolute;
    z-index: 100;
}

.s1t1Overlap {
    /* to control line height */
    margin-top: -1rem !important;
}

.s2t1Overlap {
    /* to control line height */
    margin-top: -9px !important;
}

.screen-5-text-1-Overlap {
    /* to control line height */
    margin-top: -9px !important;
}

.screen-1-text-2 {
    animation: riseAnimations1t2 1s ease-in-out 5s forwards;
    /* Apply animation with delay */
    letter-spacing: -0.05063rem;

}

.screen-2-text-2 {
    width: 297px;
    height: 92px;
    ;
    padding-top: 11px;
    letter-spacing: -0.7px !important;
    font-style: normal;
    line-height: normal;
    padding-left: 48px !important;
    padding-right: 48px !important;


}

.screen-5-text-2 {
    width: 297px;
    height: 92px;
    padding-top: 11px;
    letter-spacing: -0.7px !important;
    font-style: normal;
    padding-left: 48px !important;
    padding-right: 48px !important;
    justify-items: space-between 0px !important;
}


.screen-1-img-1 {
    /* this means "screen 1 immage 1" */
    z-index: -100;
    position: absolute;
}

.screen-1-img-2 {
    /* this means "screen 1 immage 1" */
    z-index: -100;
    position: absolute;
    transform: rotate(25.167deg);
    left: 12rem;

}

.screen-2-img-1 {
    /* this means "screen 1 immage 1" */
    z-index: -100;
    position: absolute;
}

.screen-5-img-1 {
    /* this means "screen 1 immage 1" */
    z-index: -100;
    position: absolute;
}

.screen-5-img-2 {
    /* this means "screen 1 immage 1" */
    z-index: -100;
    position: absolute;
    bottom: 0;
}

.screen-4-img-1 {
    /* this means "screen 1 immage 1" */
    z-index: -100;
    position: absolute;
    top: 0 left: 0;
}



.screen-2-img-2 {
    position: absolute;
    right: 0 !important;
    z-index: -200;
}

.screen-2-img-3 {
    position: absolute;
    bottom: 0;
    right: 0 !important;
    z-index: -200;
}


.screen-1-img-3 {
    /* this means "screen 1 immage 1" */
    z-index: -100;
    position: absolute;
    bottom: 0;

}

.screen-3-layout-macro {
    height: 493px;
    background-color: red;
    position: absolute;
    top: 105px !important;
    margin-left: 31px !important;
    margin-right: 30px !important;

}

#screen-3-layout-1 {

    margin-bottom: 0;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
}

#screen-3-layout-2 {
    justify-content: space-between 16px !important;
}


#screen-3-layout-2 h4 {
    font-weight: 700;
}

.screen-3-layout-micro {
    display: flex;
    width: 332px;
    align-items: center;
    gap: 16px;
    flex-wrap: nowrap !important;
}


.screen-3-layout-micro h6 {
    text-align: center;
    vertical-align: center !important;
}

.screen-3-square {
    width: 72px;
    height: 72px;
    background-color: white;
    align-content: center;
    vertical-align: center !important;
}

.screen-5-square {
    width: 258px!important;
    height: 258px;
    background-color: white;
    align-content: center;
    position: center!important;
    margin-top: 203px!important;
    display: inline-block;

}

.screen-3-layout-micro-text-1 {}

.screen-3-layout-micro-text-2 {}

#screen-3-layout-adjust {
    width: auto;
}

.screen-3-buttonsGroup {
    align-items: flex-end !important;
}

/* animations START */
@keyframes riseAnimations1t2 {
    0% {
        bottom: -1;
        /* Start position at the bottom of the screen */
    }

    100% {
        bottom: 451px;
        /* End position (adjust as needed) */
    }
}

/* animations END */